@using MVCARIBILGI.Models
@model Sinif
@{
    ViewBag.Title = "SinifProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <br />
    <div class="row">
        <div class="col-md-6">
            <div>
                <p>Sınıf Kodu: @Model.Id</p>
                <p>Sınıf Adı: @Model.Name</p>
                <p>Sınıf Kodu: @Model.Kodu</p>
            </div>
        </div>
        @using (Html.BeginForm("ProgramEkle", "Profile",FormMethod.Post))
        {
            <input class="hidden" name="Id" value="@Model.Id"/>
            <div class="col-md-6">
                <p>Ders Adi</p>
                <input class="form-control" name="dersAdi" type="text">
                <p>Tarih</p>
                <input class="form-control" name="dersTarih" type="datetime-local">
                <p>Başlangıc Saati</p>
                <input class="form-control" name="dersBaslangıcSaati" type="datetime-local">
                <p>Bitiş Saati</p>
                <input class="form-control"name="dersBitisSaati" type="datetime-local">
                <br />
                <button class="btn btn-info">Kaydet</button>
            </div>
        }

    </div>
</div>


